*.xml
*.zip
*.log
*.pdf
*.xls
.DS_Store (OSX)
*.bak

# ignore all files in the node_modules/ directory
node_modules/

# Dependency directories
node_modules

# Optional npm cache directory
.npm

*.[oa]
*~

**/*.txt
/.idea
#/src/template/
public/template/
src/fonts/
