<div class="footer__wrapper">
    <div class="footer__logo">
        <p class="logo-text">Авторське право &copy;</span><time datetime="2017-06"> Серпень, 2017</time></p>
        <p class="logo">UA<span>host.com.</span> &nbsp;	Всі права захищені.</p>
    </div>
    <div class="social">
        <a href="http://plus.google.com/" class="social__icon google-plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        <a href="http://facebook.com/" class="social__icon facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="http://twitter.com/" class="social__icon twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://linkedin.com/" class="social__icon linkdin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="http://instagram.com/" class="social__icon instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
</div>
