<div class="footer__menu">
    <nav class="footer__nav">
        <h3 class="footer__nav-title">COMPANY</h3>
        <ul class="navigation">
            <li class="navigation__item"><a href="#" class="navigation__item-link">About project</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Contract offer</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Privacy</a></li>
        </ul>
    </nav>
    <nav class="footer__nav">
        <h3 class="footer__nav-title">PRODUCTS</h3>
        <ul class="navigation">
            <li class="navigation__item"><a href="#" class="navigation__item-link">Cloud VPS</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Shared Hosting</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">VPS Hosting</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Dedicated Server</a></li>
        </ul>
    </nav>
    <nav class="footer__nav">
        <h3 class="footer__nav-title">CONTACTS</h3>
        <ul class="navigation">
            <li class="navigation__item"><a href="#" class="navigation__item-link">Contacts</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Blog</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Chat</a></li>
        </ul>
    </nav>
</div>