<div class="footer__menu">
    <nav class="footer__nav">
        <h3 class="footer__nav-title">КОМПАНІЯ</h3>
        <ul class="navigation">
            <li class="navigation__item"><a href="#" class="navigation__item-link">Про проект</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Договір оферти</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Конфіденційність</a></li>
        </ul>
    </nav>
    <nav class="footer__nav">
        <h3 class="footer__nav-title">ПРОДУКТИ</h3>
        <ul class="navigation">
            <li class="navigation__item"><a href="#" class="navigation__item-link">Cloud VPS</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Віртуальний хостинг</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">VPS Хостинг</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Виділений сервер</a></li>
        </ul>
    </nav>
    <nav class="footer__nav">
        <h3 class="footer__nav-title">КОНТАКТИ</h3>
        <ul class="navigation">
            <li class="navigation__item"><a href="#" class="navigation__item-link">Контакти</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Блог</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item-link">Чат</a></li>
        </ul>
    </nav>
</div>