<div class="form-block__wrapper">
    <h1 class="form-block__title">Потрібна допомога?</h1>
    <div class="error success"></div>
    <form method="post" action="#" class="form">
        <fieldset>
            <input type="text" name="name" id="name" placeholder="Ім'я*" required/>
            <input name="phone" placeholder="Телефон" id="phone" type="text" />
            <input type="text" name="email" id="email"  pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" placeholder="Email@email.com*" required/>
            <input type="text" name="serverName" id="serverName" placeholder="Ім'я сервера"/>
        </fieldset>
        <fieldset>
            <textarea name="message" id="message" placeholder="Повідомлення"></textarea>
        </fieldset>
        <div class="btn__input">
            <input name="submit" class="btn" type="submit" value="Відправити" />
        </div>
    </form>
</div>