<div class="form-block__wrapper">
    <h1 class="form-block__title">Need Help?</h1>
    <div class="error success"></div>
    <form method="post" action="#" class="form">
        <fieldset>
            <input type="text" name="name" id="name" placeholder="Name*" required/>
            <input name="phone" placeholder="Phone" id="phone" type="text" />
            <input type="text" name="email" id="email"  pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" placeholder="Email@email.com*" required/>
            <input type="text" name="serverName" id="serverName" placeholder="Server Name"/>
        </fieldset>
        <fieldset>
            <textarea name="message" id="message" placeholder="Placeholder"></textarea>
        </fieldset>
        <div class="btn__input">
            <input name="submit" class="btn" type="submit" value="Send" />
        </div>
    </form>
</div>