<div class="support__nav">
    <div class="support__info">
        <p class="support__info-text">24/7 підтримка - </p>
        <a href="tel:+389999999" class="support__info-link"><i class="fa fa-phone" aria-hidden="true"></i>+38(999)999-99-99</a>
    </div>
    <ul class="support__menu">
        <li class="menu__item email"><a href="mailto:email@email.com" class="menu__item-link" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>email@email.com</a></li>
        <li class="menu__item skype"><a href="skype:NZeraF?chat" class="menu__item-link"><i class="fa fa-skype" aria-hidden="true"></i>website.com</a></li>
    </ul>
</div>
