<div class="support__nav">
    <div class="support__info">
        <p class="support__info-text">24/7 hosting with Ukrainian and English support</p>
        <a href="tel:+389999999" class="support__info-link"><i class="fa fa-phone" aria-hidden="true"></i>+38(999)999-99-99</a>
    </div>
    <ul class="support__menu">
        <li class="menu__item email"><a href="mailto:email@email.com" class="menu__item-link" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>email@email.com</a></li>
        <li class="menu__item skype"><a href="skype:NZeraF?chat" class="menu__item-link"><i class="fa fa-skype" aria-hidden="true"></i>website.com</a></li>
        <li class="menu__item nav__sub-menu"><a href="#" class="menu__item-link euro"><i class="fa fa-euro" aria-hidden="true"></i>euro<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ol class="sub__menu">
                <li class="sub__menu-item"><a href="#" class="sub__menu-link usd"><i class="fa fa-usd" aria-hidden="true"></i>usd</a></li>
            </ol>
        </li>
        <li class="menu__item nav__sub-menu"><a href="#" class="menu__item-link eng"><i class="fa fa-globe" aria-hidden="true"></i>eng<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ol class="sub__menu">
                <li class="sub__menu-item"><a href="#" class="sub__menu-link lang ukr">укр</a></li>
                <li class="sub__menu-item"><a href="#" class="sub__menu-link lang rs">рус</a></li>
            </ol>
        </li>
    </ul>
</div>
