<div class=" help-block_wrapper">
    <h2 class="help-block__title">Швидкий, безпечний, надійний і доступний веб-хостинг послуг
        <br>з великою підтримкою.</h2>
    <p class="help-block__text">
        Ми гарантуємо, що якість нашої хостинг компанії uahost.net задовольнить найвимогливіших клієнтів. Високі вимоги у наданні послуг хостингу для наших співробітників це повсякденна реальність. Ми надаємо послугу в прокат недорогий виділений сервер, визначення місця розташування для віртуального хостингу, дешеві VDS VPS сервери, Cloud VPS. У той же час ми маємо дружню та Англо / Російську технічну підтримку.
    </p>
    <div class="help-block__link">
        <a href="#" class="landing__btn">Отримати хостинг!</a>
    </div>
    <h3 class="help-block__question">
        Є питання?
    </h3>
    <p class="help-block__question-text">
        Ми тут 24/7 , щоб відповісти на ваші запитання та дати рекомендації, які допоможуть вам розпочати роботу.
        <br>
    </p>
    <a href="tel:+389999999" class="help-block__question-link"><i class="fa fa-phone" aria-hidden="true"></i>+38(999)999-99-99</a>
</div>