<!-- menu__button -->
<div class="menu__button">
    <span class="sandwich">
        <span class="sw-topper"></span>
        <span class="sw-bottom"></span>
        <span class="sw-footer"></span>
    </span>
    <nav class="menu__hidden">
        <ul class="hidden__list">
            <li class="hidden__item"><a href="#" class="hidden__link">Web Hosting</a></li>
            <li class="hidden__item"><a href="#" class="hidden__link">VPS Hosting</a></li>
            <li class="hidden__item"><a href="#" class="hidden__link">Cloud VPS</a></li>
            <li class="hidden__item"><a href="#" class="hidden__link">Dedicated Servers</a></li>
            <li class="hidden__item"><a href="#" class="hidden__link">Docker Container</a></li>
        </ul>
    </nav>
</div> <!-- menu__button END-->