<div class="describe_wrapper">
    <div class="describe__item">
        <div class="describe__item-icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>
        <h3 class="describe__item-title">Popular distros</h3>
        <p class="describe__item-text">Debian, CentOS, Ubuntu, CloudLinux,<br> FreeBsd and Windows are supported.</p>
    </div>
    <div class="describe__item">
        <div class="describe__item-icon"><i class="fa fa-shield" aria-hidden="true"></i>
        </div>
        <h3 class="describe__item-title">Backups</h3>
        <p class="describe__item-text">Automatically daily, weekly and monthly<br>backups of your entire account.</p>
    </div>
    <div class="describe__item">
        <div class="describe__item-icon"><i class="fa fa-rocket" aria-hidden="true"></i>
        </div>
        <h3 class="describe__item-title">Extreme performance</h3>
        <p class="describe__item-text">With KVM technology we offer VPS that is <br>powerful and easy to use.</p>
    </div>
    <div class="describe__item">
        <div class="describe__item-icon"><i class="fa fa-database" aria-hidden="true"></i>
        </div>
        <h3 class="describe__item-title">Super Fast SSD</h3>
        <p class="describe__item-text">Lightinng fast SSD drives for the best <br>performance.</p>
    </div>
</div>
