<div class="describe_wrapper">
    <div class="describe__item">
        <div class="describe__item-icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>
        <h3 class="describe__item-title">Популярні ОС</h3>
        <p class="describe__item-text">Підтримуються Debian, CentOS, Ubuntu, CloudLinux, FreeBsd та Windows.</p>
    </div>
    <div class="describe__item">
        <div class="describe__item-icon"><i class="fa fa-shield" aria-hidden="true"></i>
        </div>
        <h3 class="describe__item-title">Резервні копії</h3>
        <p class="describe__item-text">Автоматичні щоденні, щотижневі та щомісячні резервні копіювання всієї вашої інформації.</p>
    </div>
    <div class="describe__item">
        <div class="describe__item-icon"><i class="fa fa-rocket" aria-hidden="true"></i>
        </div>
        <h3 class="describe__item-title">Виняткова продуктивність</h3>
        <p class="describe__item-text">Використовуючи KVM технології ми пропонуємо VPS, який є потужним і простим у використанні.</p>
    </div>
    <div class="describe__item">
        <div class="describe__item-icon"><i class="fa fa-database" aria-hidden="true"></i>
        </div>
        <h3 class="describe__item-title">Супер швидкий SSD</h3>
        <p class="describe__item-text">Швидкі, як блискавка, диски SSD для кращої продуктивності.</p>
    </div>
</div>
