<nav class="main__nav">
        <nav class="nav">
            <div class="nav__logo"><a href="#" class="nav__logo-link">UA<span>host.com</span></a></div>
            <ul class="nav__menu">
                <li class="menu__item"><a href="#" class="menu__item-link">Web Hosting</a></li>
                <li class="menu__item"><a href="#" class="menu__item-link">VPS Hosting</a></li>
                <li class="menu__item"><a href="#" class="menu__item-link">Cloud VPS</a></li>
                <li class="menu__item"><a href="#" class="menu__item-link">Dedicated Servers</a></li>
                <li class="menu__item"><a href="#" class="menu__item-link">Docker Container</a></li>
            </ul>
        </nav>
        <div class="nav__btn">
            <a href="#" class="nav__btn-link login">Login</a>
            <a href="#" class="nav__btn-link sign">Sign Up</a>
        </div>
        <hr>
</nav>
<section class="search">
    <form class="search__form" action="#" method="">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="text" class="search__input rounded" placeholder="Search...">
    </form>
</section>
<section class="landing">
    <h1 class="landing__title">Everything you need<br> Fast, Reliable <b>Web Hosting!</b></h1>
    <div class="landing__list">
        <h2 class="landing__list-title">60 Days <span>Risk-FREE</span> for shared &amp; VPS</h2>
        <p class="landing__list-text">we offer a 60 days <u><b>money back</b></u> guarantee</p>
        <h2 class="landing__list-title"><span>FREE</span> WebSite Transfer</h2>
        <p class="landing__list-text">we migrate your site to our hosting for FREE!</p>
        <h2 class="landing__list-title"><span>FREE</span> 4 control panels when ordering VPS</h2>
        <p class="landing__list-text">DirectAdmin, IspManager, Webmin+Virtualmin, VestaCP</p>
    </div>
    <a href="#" class="landing__btn">Get hosting now!</a>
</section>