<section class="search">
    <form class="search__form" action="#" method="">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="text" class="search__input rounded" placeholder="Пошук...">
    </form>
</section>
<section class="landing">
    <h1 class="landing__title">Все, що вам потрібно<br> Швидкий, Надійний Веб-Хостинг!</h1>
    <div class="landing__list">
        <h2 class="landing__list-title">60 днів <span>БЕЗ ризику</span> для Shared &amp; VPS</h2>
        <p class="landing__list-text">Ми пропонуємо протягом 60 днів <strong>гарантію повернення грошей.</strong></p>
        <h2 class="landing__list-title"><span>БЕЗКОШТОВНА </span> міграція сайту!</h2>
        <p class="landing__list-text">Перенесемо ваш сайт до нашого хостингу БЕЗКОШТОВНО</p>
        <h2 class="landing__list-title"><span>БЕЗКОШТОВНО</span> 4 панелі управління при замовленні VPS</h2>
        <p class="landing__list-text">DirectAdmin, IspManager, Webmin+Virtualmin, VestaCP</p>
    </div>
    <a href="#" class="landing__btn">Отримати хостинг!</a>
</section>