<h1 class="plans__title">Hosting Plans</h1>
<div class="plans__wrapper">
    <div class="plans__item">
        <h2 class="plans__item-title">Economy</h2>
        <h3 class="plans__item-subtitle">Web Hosting</h3>
        <p class="plans__item-text">Ideal for a Small Biz Site/Blog</p>
        <ul class="plans__list">
            <li class="plans__list-item">1 Domain</li>
            <li class="plans__list-item">5K Visits/Mo.</li>
            <li class="plans__list-item">1Gb Local Storage</li>
            <li class="plans__list-item">60Gb Data Transfer</li>
        </ul>
        <div class="plans__price"><i class="fa fa-euro" aria-hidden="true"></i>1<span>/mo</span></div>
        <p class="plans__price-text">Risk free for 60 days</p>
        <a href="#" class="plans__price-link">Learn More</a>
    </div>
    <!--first plans item END -->
    <div class="plans__item delux">
        <h2 class="plans__item-title">Delux</h2>
        <h3 class="plans__item-subtitle">VPS</h3>
        <p class="plans__item-text">Ideal for a Business, E-commerce <br>and developers.</p>
        <ul class="plans__list">
            <li class="plans__list-item">1 CPU</li>
            <li class="plans__list-item">20K Visits/Mo.</li>
            <li class="plans__list-item">10Gb SSD Local Storage</li>
            <li class="plans__list-item"><b>UNLIMITED</b> Data Transfer</li>
        </ul>
        <div class="plans__price"><i class="fa fa-euro" aria-hidden="true"></i>4.90<span>/mo</span></div>
        <p class="plans__price-text">Risk free for 60 days</p>
        <a href="#" class="plans__price-link">Learn More</a>
    </div>
    <!--second plans item END -->
    <div class="plans__item ultimate"><h2 class="plans__item-title">Ultimate</h2>
        <h3 class="plans__item-subtitle">Cloud VPS</h3>
        <p class="plans__item-text">Ideal for businesses with growing or fluctuating bandwidth demands.</p>
        <ul class="plans__list">
            <li class="plans__list-item">1 CPU</li>
            <li class="plans__list-item">20K Visits/Mo.</li>
            <li class="plans__list-item">10Gb SSD Local Storage</li>
            <li class="plans__list-item">3Tb Bandwidth</li>
        </ul>
        <div class="plans__price"><i class="fa fa-euro" aria-hidden="true"></i>4.10<span>/mo</span></div>
        <p class="plans__price-text">Risk free for 60 days</p>
        <a href="#" class="plans__price-link">Learn More</a></div>
    <!--third plans item END -->
    <div class="plans__item dedicated">
        <div class="dedicated__img"><i class="fa fa-server" aria-hidden="true"></i></div>
        <h3 class="plans__item-subtitle">Dedicated Servers</h3>
        <p class="plans__item-text">A dedicated server is the ideal solution for larger businesses and high-traffic websites.</p>
        <ul class="plans__list">
            <li class="plans__list-item">1x Dell R210-II</li>
            <li class="plans__list-item">100K Visits/Mo.</li>
            <li class="plans__list-item">4GB RAM</li>
            <li class="plans__list-item">2x500GB LOCAL STORAGE</li>
        </ul>
        <div class="plans__price"><i class="fa fa-euro" aria-hidden="true"></i>36<span>/mo</span></div>
        <p class="plans__price-text">UNLIMITED DATA TRANSFER</p>
        <a href="#" class="plans__price-link">Learn More</a></div>
    </div>
    <!--forth plans item END -->
</div>
