<h1 class="plans__title">Хостинг Тарифи</h1>
<div class="plans__wrapper">
    <div class="plans__item">
        <h2 class="plans__item-title">Економ</h2>
        <h3 class="plans__item-subtitle">Веб-хостинг</h3>
        <p class="plans__item-text">Ідеально підходить для невеликого сайту/блогу</p>
        <ul class="plans__list">
            <li class="plans__list-item">1 Домен</li>
            <li class="plans__list-item">5K Відвідувань/Міс.</li>
            <li class="plans__list-item">1Gb Локального сховища</li>
            <li class="plans__list-item">60Gb Передачи даних</li>
        </ul>
        <div class="plans__price">29.87 <span class="plans__price-grn">&#8372;</span><span>/міс</span></div>
        <p class="plans__price-text">Безризиковий протягом 60 днів</p>
        <a href="#" class="plans__price-link">Дізнатися більше</a>
    </div>
    <!--first plans item END -->
    <div class="plans__item delux">
        <h2 class="plans__item-title">Делюкс</h2>
        <h3 class="plans__item-subtitle">VPS</h3>
        <p class="plans__item-text">Ідеально підходить для бізнесу, електронна комерція і розробників.</p>
        <ul class="plans__list">
            <li class="plans__list-item">1 CPU</li>
            <li class="plans__list-item">20K Відвідувань/Міс.</li>
            <li class="plans__list-item">10Gb SSD Локального сховища</li>
            <li class="plans__list-item"><strong>НЕОБМЕЖЕНА</strong> передача даних</li>
        </ul>
        <div class="plans__price">146.35 <span class="plans__price-grn">&#8372;</span><span>/міс</span></div>
        <p class="plans__price-text">Безризиковий протягом 60 днів</p>
        <a href="#" class="plans__price-link">Дізнатися більше</a>
    </div>
    <!--second plans item END -->
    <div class="plans__item ultimate"><h2 class="plans__item-title">Кінцева</h2>
        <h3 class="plans__item-subtitle">Cloud VPS</h3>
        <p class="plans__item-text">Добре підходить для бізнесу зі зростаючим або з коливанням вимог пропускної здатності з часом.</p>
        <ul class="plans__list">
            <li class="plans__list-item">1 CPU</li>
            <li class="plans__list-item">20K Відвідувань/Міс.</li>
            <li class="plans__list-item">10Gb SSD Локального сховища</li>
            <li class="plans__list-item">3Tb Пропускна здатність</li>
        </ul>
        <div class="plans__price">122.46 <span class="plans__price-grn">&#8372;</span><span>/міс</span></div>
        <p class="plans__price-text">Безризиковий протягом 60 днів</p>
        <a href="#" class="plans__price-link">Дізнатися більше</a></div>
    <!--third plans item END -->
    <div class="plans__item dedicated">
        <div class="dedicated__img"><i class="fa fa-server" aria-hidden="true"></i></div>
        <h3 class="plans__item-subtitle">Виділені Cервери</h3>
        <p class="plans__item-text">Виділений сервер є ідеальним рішенням для великих підприємств і високого трафіку веб-сайти.</p>
        <ul class="plans__list">
            <li class="plans__list-item">1x Dell R210-II</li>
            <li class="plans__list-item">100K Відвідувань/Міс.</li>
            <li class="plans__list-item">4GB RAM</li>
            <li class="plans__list-item">2x500GB Локального сховища</li>
        </ul>
        <div class="plans__price">1 075.25 <span class="plans__price-grn">&#8372;</span><span>/міс</span></div>
        <p class="plans__price-text">НЕОБМЕЖЕНА ПЕРЕДАЧА ДАНИХ</p>
        <a href="#" class="plans__price-link">Дізнатися більше</a></div>
    </div>
    <!--forth plans item END -->
</div>
