<div class="tab-block__wrapper">
    <h1 class="tab-block__title">Запитання й Відповіді</h1>
    <div class="tabs">

        <ul class="tabs__caption">
            <li class="active"><i class="fa fa-credit-card" aria-hidden="true"></i></li>
            <li><i class="fa fa-cogs" aria-hidden="true"></i></li>
            <li><i class="fa fa-users" aria-hidden="true"></i></li>
            <li><i class="fa fa-gavel" aria-hidden="true"></i></li>
        </ul>

        <div class="tabs__content active">
            <div class="accordeon">
                <dl>
                    <dt>Які методи оплати ви приймаєте?</dt>
                    <dd>Ми приймаємо Visa, Master Card, Webmoney, Paxum, ePayments, Bitcoi</dd>
                </dl>
                <dl>
                    <dt>Ви пропонуєте, гарантію повернення грошей?</dt>
                    <dd>Так! Дана гарантія на 60 днів тільки на послуги Віртуальний хостинг та VPS хостинг. Ми гарантуємо, що ви будете задоволені нашим сервісом, або ми повернемо гроші. Якщо UaHost не відповідає вашим вимогам протягом 60 днів (з моменту оплати вважається), зверніться до служби підтримки і ми повернемо 100% ваш платіж. Будь ласка, зверніть увагу, що повернення грошей не надається у разі порушення угоди користувача.</dd>
                </dl>
                <dl>
                    <dt>Чи можну я придбати додаткові IP-адреси?</dt>
                    <dd>Ми пропонуємо додаткових адрес IPv4 за ціною від 78-105 &#8372;, залежно від регіону.</dd>
                </dl>
            </div>
        </div>

        <div class="tabs__content">
            <div class="accordeon">
                <dl>
                    <dt>Які VPS технології віртуалізації ви використовуєте? </dt>
                    <dd>Ми використовуємо технологію віртуалізації KVM.</dd>
                </dl>
                <dl>
                    <dt>Де знаходяться сервери?</dt>
                    <dd>Наші сервери знаходяться у Великобританії, Канаді, Нідерландах, Німеччині, США, Японії, Бразилії, Австралії, Індії та Сінгапурі.</dd>
                </dl>
                <dl>
                    <dt>НАШІ ПЕРЕВАГИ</dt>
                    <dd>Віртуальний хостинг від 30 &#8372; - дешевше не буває, фіксована ставка для шаради (необмежений простір, трафік, домени, баз даних mysql), Cloud VPS від 140 &#8372;, Безкоштовно пульт управління VPS, безкоштовний VPS для адміністрування, продаж послуг у 12 пунктах на всіх континентах світу</dd>
                </dl>
            </div>
        </div>
        <div class="tabs__content">
            <div class="accordeon">
                <dl>
                    <dt>Який середній час реагування на запит підтримки?</dt>
                    <dd>Ми підтримуємо середній час реагування ~ 15 хвилин.</dd>
                </dl>
                <dl>
                    <dt>Ви маєте гарантію безперервної роботи?</dt>
                    <dd>Ми гарантуємо, що наші послуги будуть онлайн 99,9% часу.</dd>
                </dl>
            </div>
        </div>
        <div class="tabs__content">
            <div class="accordeon">
                <dl>
                    <dt>Зауваги про дотримання приватності</dt>
                    <dd>Ми знаходимося в юрисдикції на Британських Віргінських островах, технічна підтримка офіс знаходиться у Європі. Вона забезпечує безпрецедентну конфіденційності, тому що ми згідно місцевих законів і тільки реагуємо на прохання лише місцевої влади.</dd>
                </dl>
            </div>
        </div>

    </div><!-- .tabs-->

</div>