<div class="tab-block__wrapper">
    <h1 class="tab-block__title">Frequently Asked Questions</h1>
    <div class="tabs">

        <ul class="tabs__caption">
            <li class="active"><i class="fa fa-credit-card" aria-hidden="true"></i></li>
            <li><i class="fa fa-cogs" aria-hidden="true"></i></li>
            <li><i class="fa fa-users" aria-hidden="true"></i></li>
            <li><i class="fa fa-gavel" aria-hidden="true"></i></li>
        </ul>

        <div class="tabs__content active">
            <div class="accordeon">
                <dl>
                    <dt>What payment methods do you accept?</dt>
                    <dd>We accept Visa, Master Card, Webmoney, Paxum, ePayments, Bitcoi</dd>
                </dl>
                <dl>
                    <dt>Do you offer a money back guarantee?</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.</dd>
                </dl>
                <dl>
                    <dt>Can I purchase an additional IP Address?</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.</dd>
                </dl>
            </div>
        </div>

        <div class="tabs__content">
            <div class="accordeon">
                <dl>
                    <dt>Item 1</dt>
                    <dd>We accept Visa, Master Card, Webmoney, Paxum, ePayments, Bitcoi</dd>
                </dl>
                <dl>
                    <dt>Item 2</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.</dd>
                </dl>
                <dl>
                    <dt>Item 3</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.</dd>
                </dl>
            </div>
        </div>
        <div class="tabs__content">
            <div class="accordeon">
                <dl>
                    <dt>Item 1</dt>
                    <dd>We accept Visa, Master Card, Webmoney, Paxum, ePayments, Bitcoi</dd>
                </dl>
                <dl>
                    <dt>Item 2</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.</dd>
                </dl>
                <dl>
                    <dt>Item 3</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.</dd>
                </dl>
            </div>
        </div>
        <div class="tabs__content">
            <div class="accordeon">
                <dl>
                    <dt>Item 1</dt>
                    <dd>We accept Visa, Master Card, Webmoney, Paxum, ePayments, Bitcoi</dd>
                </dl>
                <dl>
                    <dt>Item 2</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.</dd>
                </dl>
                <dl>
                    <dt>Item 3</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.</dd>
                </dl>
            </div>
        </div>

    </div><!-- .tabs-->

</div>