$font: 14px;
$fontFamily: 'Open Sans', sans-serif;
$main_width: 1120px;
$borderColor: #d8edee;
$bgc-body: rgba(255, 255, 255, 1);
$text-color: #333;
$hgroup-color: rgba(35, 135, 193, 1);
$price-color: #f0592a;
$main-btn-bgc: #ffc70f;
$main-btn-border: #c99b04;
$bgc-main-page: #a5dcf0;

