/*icone_block
============================================================================
*/
.describe-section {
  @include alpha-attribute('background-color', rgba($bgc-main-page, .1), white);
  @include screen-tiny {
    .describe_wrapper {
      position: relative;
      @include flex(column, space-between);
      flex-flow: row wrap;
      margin: 0 auto;
      padding-bottom: 20px;
      width: 100%;
      align-items: center;
      text-align: center;
      border: 1px solid $borderColor;
      //@include box-shadow(0px, 10px, 35px, 8px, rgba(35,135,193,1));
      @include box-shadow(0px, 0px, 35px, -10px, rgba(35,135,193,.7));
    }
    .describe__item {
      line-height: 1.4;
      padding: 10px 0;
      align-items: center;
      width: 100%;
      height: 210px;
    }
    .describe__item-icon {
      margin: 10px auto;
      & .fa {
        padding: 13px 0;
        font-size: $font + 55;
        color: $hgroup-color;
        width: 100px;
        height: 100px;
        border: 2px solid $hgroup-color;
        border-radius: 50%;
      }
    }
    .describe__item-title {
      padding: 5px;
      font-size: $font + 8;
      font-weight: normal;
      color: $hgroup-color;
    }
    .describe__item-text {
      padding: 5px 0;
      font-size: $font - 2;
      color: $text-color;
      letter-spacing: .1em;
    }
  }
  @include screen-tablets {
    @include flex(row, space-between);
    .describe__item {
      width: 50%;
    }
  }
  @include screen-desktops {
    border: 1px solid $borderColor;
    @include box-shadow(0px, -10px, 35px, 5px, rgba(35,135,193,.3));
    .describe_wrapper {
      width: $main_width;
      box-shadow: none;
      border: none;
    }

    .describe__item {
      padding-bottom: 0;
      width: 24%;
      height: 230px;
      &:first-child {
        width: 23%;
      }
      &:nth-last-child(2) {
        width: 30%;
      }
      &:last-child {
        width: 23%;
      }
    }
    .describe__item-text {
      padding: 5px;
      font-size: $font - 2;
      color: $text-color;
      letter-spacing: .0em;
      text-align: center;
    }
  }
}

/*icone_block END
============================================================================
*/