/*main
============================================================================
*/
  @include screen-tiny {
    .main {
      position: relative;
      margin: 0 auto;
      width: 100%;
      background: $bgc-main-page url("img/rocket_white.png") no-repeat 115% 80%/40%;
      opacity: .8;
      &:after {
        content: ' ';
        position: absolute;
        width: 30%;
        height: 80%;
        top: 10%;
        left: 10%;
        opacity: .2;
        background: url("img/cloud1.png") no-repeat 0% 15%/55%;
      }
      &:before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 90%;
        top: 10%;
        left: 0;
        opacity: .2;
        background: url("img/cloud2.png") no-repeat 100% 10%/40%, url("img/cloud2.png") no-repeat 0% 85%/30%;
      }
    }
    .search {
      display: none;
    }
    .landing {
      position: relative;
      padding: 30px 0;
      text-align: center;
      color: $bgc-body;
      font-size: $font;
      width: 100%;
    }
    .landing__title {
      font-size: $font + 13;
      font-weight: normal;
      line-height: 1.4;
      color: $hgroup-color;
      & span {
        text-decoration: underline;
      }
    }
    .landing__list {
      position: relative;
      text-align: left;
      margin: 20px 0 20px 20px;
    }
    .landing__list-title {
      font-size: $font + 5;
      font-weight: normal;
      padding-bottom: 2px;
      &:before {
        content: '';
        position: absolute;
        margin-top: 6px;
        left: -15px;
        width: 8px;
        height: 8px;
        background: white;
        border-radius: 50%;
      }
      & span {
        color: $hgroup-color;
      }
    }
    .landing__list-text {
      font-size: $font - 2;
      padding-bottom: 20px;
    }
    @import "main_btn";
  }
  @include screen-tablets {
    .main {
      height: 500px;
      background: $bgc-main-page  url("img/rocket_white.png") no-repeat 100% 90%/30%;
      &:after {
        opacity: .4;
        background: url("img/cloud1.png") no-repeat 0% 10%/45%;
      }
      &:before {
        opacity: .4;
        background: url("img/cloud2.png") no-repeat 100% 3%/12%, url("img/cloud2.png") no-repeat 68% 55%/18%;
      }
    }
    .landing {
      width: 100%;
      margin: 0 auto;
    }
    .landing__list {
      width: 500px;
      margin: 20px auto;
    }
    .landing__title {
      font-size: $font + 26;
      margin-top: 0;
    }
    .landing__list-text {
      padding-bottom: 30px;
    }
  }
  @include screen-desktops {
    .main {
      height: 530px;
      background: $bgc-main-page  url("img/rocket_white.png") no-repeat 93% 90%/20%;
      &:after {
        width: 60%;
        height: 100%;
        opacity: .5;
        background: url("img/cloud1.png") no-repeat 0% 5%/25%;
        z-index: -1;
      }
      &:before {
        opacity: .5;
        background: url("img/cloud2.png") no-repeat 80% 10%/10%, url("img/cloud2.png") no-repeat 70% 45%/15%;
      }
    }
    .landing {
      max-width: $main_width;
      margin: 0 auto;
      opacity: .99;
    }
    .landing__title {
      width: 100%;
      margin: -30px auto 40px;
    }
    .landing__list {
      width: 600px;
      padding-bottom: 5px;
    }
    .landing__list-text {
      padding-bottom: 30px;
    }
    // ========== Search ===========
    .search {
      display: block;
      position: relative;
      max-width: $main_width;
      height: 40px;
      margin: 5px auto;
    }
    .search__form {
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
    }
    .search__form input.search__input {
      float: right;
      width: 22%;
      height: 36px;
      background: $bgc-body;
      border: 1px solid $hgroup-color;
      font-size: $font + 2;
      color: $hgroup-color;
      padding-left: 40px;
      border-radius: 20px;
      @include transition(background .55s);
    }
    .search__form input.search__input::-webkit-input-placeholder {
      color: $hgroup-color;
    }
    .search__form input.search__input:-moz-placeholder { /* Firefox 18- */
      color: $hgroup-color;
    }
    .search__form input.search__input::-moz-placeholder {  /* Firefox 19+ */
      color: $hgroup-color;
    }
    .search__form input.search__input:-ms-input-placeholder {
      color: $hgroup-color;
    }
    .search__form .icon{
      position: absolute;
      left: 78%;
      top: -9px;
      margin-left: 12px;
      margin-top: 19px;
      z-index: 1000;
      color: #4f5b66;
    }
    .search__form input.search__input:hover,
    .search__form input#search:focus,
    .search__form input#search:active {
      outline:none;
      background: $bgc-body;
    }
  }
/*main END
============================================================================
*/

