@import "../../bower_components/normalize.css/normalize";
@import "includes/fonts";
@import "includes/params";
@import "includes/mixins";
@import "includes/media";

/*Custom resets
============================================================================
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  //text-align: center;
}

ul, li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  //display: block;
}

.clear:after {
  content:'';
  display: table;
  clear: both;
}

body {
  height: 100%;
  font-size: $font;
  @include screen-tiny {
    font-size: 105%;
  }
  @include screen-desktops {
    font-size: $font;
  }

  & h1, h2, h3 {
    margin: 0;
    padding: 0;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
.container {
  width: $main_width;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@import "includes/hidden_menu";
@import "includes/support-nav";
@import "includes/main_btn";
@import "includes/main_section";
@import "includes/icone_block";
@import "includes/plans_block";
@import "includes/help_block";
@import "includes/tab_block";
@import "includes/form_block";
@import "includes/footer-menu_block";
@import "includes/footer";
